@import '../../styles/contants.scss';

.wrapper{
    // background-color: white;

    .container{
        gap: 2rem;

        @media (max-width: $sm) {
            flex-direction: column;
            gap: 2rem;
            align-items: flex-start;
        }

        .left{
            flex: 3;

            >*{
                display: block;
            }

            >:nth-child(2){
                margin-top: 3rem;
            }
            a{
                text-decoration: underline;
                color: orange;
            }
        }

        .right{
            flex: 1;

            .info{
                margin-bottom: 1rem;

                .copyright{
                    margin-top: 3rem;
                }

                >*{
                    display: block;
                }
            }

            .phone{
                gap: 1.2rem;
                display: flex;
                flex-wrap: wrap;
                >span{
                    margin-top: 0.5rem;
                }

                svg{
                    color: $secondary;
                    background-color: white;
                    padding: 10px;
                    border-radius: 999px;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
                }
            }
        }
    }
}